<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.learn.solat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="Jadwal Solat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".asmaulhusna_qibla.MainActivity"
            android:label="List Fitur"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".asmaulhusna_qibla.Main2Activity"
            android:label="Arah Kiblat"
            android:parentActivityName=".asmaulhusna_qibla.MainActivity" />
        <activity
            android:name=".PilihKota"
            android:label="Pilih Kota"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".asmaulhusna_qibla.FragmenActivity"
            android:label="Asmaul Husna"
            android:parentActivityName=".asmaulhusna_qibla.MainActivity" />

        <activity android:name=".doa_doa.lihatdoa"
            android:label="Detail Doa"
        android:parentActivityName=".doa_doa.MainActivity"></activity>

        <activity android:name=".doa_doa.MainActivity"
            android:label="Kumpulan Doa Doa"
            android:parentActivityName=".asmaulhusna_qibla.MainActivity"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>